venv/
.env
databridgeai-540737dbbfd1.json
schema.json
faiss_index/
__pycache__/
src/.env
src/bigquery.json
src/faiss_index/
src/ai/__pycache__/
src/config/__pycache__/
src/database/__pycache__/
src/feedback/__pycache__/
src/ui/__pycache__/
src/feedback_db/
src/config/gcpconnectkey.json
src/.env
.DS_Store
.dvc/
DataPipeline/config/gcpconnectkey.json
DataPipeline/docker-compose.yaml
DataPipeline/Dockerfile
DataPipeline/logs/
myenv
DataPipeline/schema_embeddings_test.py
src/promptfilter/mytest.py
