# sentence-transformers
sentence-transformers==2.6.1
transformers==4.37.2
accelerate==0.26.1
google-cloud-bigquery
google-cloud-storage
pandas
numpy
chromadb
tf-keras
langchain-google-vertexai
langchain
langchain-community
langchain-openai
openai