streamlit==1.42.2
google-cloud-bigquery
langchain
langchain-community
python-dotenv 
plotly
db-dtypes
pydantic-ai
langchain_google_vertexai
scikit-learn
sentence-transformers
chromadb
detoxify
thefuzz
fuzzywuzzy
