streamlit==1.42.2
google-cloud-bigquery
google-cloud-storage
langchain
langchain-community
python-dotenv 
plotly
db-dtypes
pydantic-ai
detoxify
sentence-transformers
mlflow>=2.3.0
sqlparse>=0.4.3
chromadb